#canvas { 
	width: 1920px; 
	height: 1280px; 
	background: #ffffff;
	float: left;
}

.inline{
	position:absolute;
	display: inline-block;
	overflow: auto;
}

#palette{
	width: 200px;
	height: 1280px;
	background: #505050;
        border-style: outset;
}

#btnLoad{
	position: absolute;
	left: 10px;
	top: 60px;
}

#txtLoad{
	position:absolute;
	left: 10px;
	top: 10px;
}

.Hover { border: 1px solid #F00; }
#objeto1 {
	background: #fff;
	position: absolute;
	left: 10px;
	top: 90px;
}
#objeto2 {
	background: #fff;
	position: absolute;
	left: 10px;
	top: 210px;
}
#objeto3 {
	background: #fff;
	position: absolute;
	left: 10px;
	top: 265px;
}
#objeto4 {
	background: #fff;
	position: absolute;
	left: 50px;
	top: 265px;
}
#objeto5 {
	background: #fff;
	position: absolute;
	left: 90px;
	top: 265px;
}
#objeto6 {
	background: #fff;
	position: absolute;
	left: 130px;
	top: 265px;
}
#objeto7 {
	background: #fff;
	position: absolute;
	left: 170px;
	top: 265px;
}
#objeto8 {
	background: #fff;
	position: absolute;
	left: 210px;
	top: 265px;
}
#objeto9 {
	background: #fff;
	position: absolute;
	left: 10px;
	top: 315px;
}
#objeto10 {
	background: #fff;
	position: absolute;
	left: 50px;
	top: 315px;
}
#objeto11 {
	background: #fff;
	position: absolute;
	left: 90px;
	top: 315px;
}
#objeto12 {
	background: #fff;
	position: absolute;
	left: 10px;
	top: 365px;
}
#objeto13 {
	background: #fff;
	position: absolute;
	left: 10px;
	top: 475px;
}

.dragged1 {
	/*atributos de elemento 1 paleta*/
}

.dragged2 {
	/*atributos de elemento 2 paleta*/
}

.dragged3 {
	/*atributos de elemento 3 paleta*/
}

.dragged4 {
	/*atributos de elemento 4 paleta*/
}

.dragged5 {
	/*atributos de elemento 5 paleta*/
}

.dragged6 {
	/*atributos de elemento 6 paleta*/
}

.absolute{
	position: absolute;
}

#menu-toggle{
	margin:auto;
}


.pver{
	display:inline;
}

.pocultar{
	display:none;
}
