#canvas { 
	width: 1920px; 
	height: 1280px; 
	background: #808080;
	margin-left: 200px;
	z-index: -1; 
	float: left;
}

#palette{
	width: 200px;
	height: 1280px;
	z-index: -1;
	background: #505050;
}

#drag1 {
	position: absolute;
	left: 10px;
	top: 100px;
}

#drag2 {
	position: absolute;
	left: 10px;
	top: 210px;
}

#drag3 {
	position: absolute;
	left: 10px;
	top: 320px;
}

.dragged1 {
	position:absolute; 
}

.dragged2 {
	position:absolute; 
}

.dragged3 {
	position:absolute; 
}